
<%= form_for(setup_addressable(@trade_event)) do |f| %>
  <% if @trade_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade_event.errors.count, "error") %> prohibited this trade_event from being saved:</h2>
      <ul>
        <% @trade_event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="center-nested-divs">
    <div class="row-div-display">
      <div>
        <div class="field">
          <%= f.text_field :event_name, {placeholder: "*** Event Name (required) ***", class:"search-field close-button-size force-black-text"} %>
        </div><br>
        <div class="field">
          <%= f.label :start_date %><br>
          <%= f.date_select :start_date,
            {:order => [:month, :day, :year], :start_year => 2000, :end_year => (Date.current.year + 5), prompt: true},
            {:class => "search-field force-black-text"}
          %>
        </div><br>
        <div class="field">
          <%= f.label :end_date %><br>
          <%= f.date_select :end_date,
            {:order => [:month, :day, :year], :start_year => 2000, :end_year => (Date.current.year + 5), prompt: true},
            {:class => "search-field force-black-text"}
          %>
        </div><br>
        <div>
          <%= f.submit 'Save Trade Event', class:'btn btn-lg btn-success close-button-size custom_button-margin' %>
        </div>
      </div>
      <div class="spacing">
      </div>
      <div>
        <!-- beginning of address fields -->
        <%= f.fields_for :address do |ff| %>
          <div class="field">
            <%= ff.text_field :street_address_1, {placeholder: "*** Street ***", class: "search-field perfect-button-size force-black-text"} %>
          </div><br>
          <div class="field">
            <%= ff.text_field :city, {placeholder: "*** City ***", class: "search-field perfect-button-size force-black-text"} %>
          </div><br>
          <div class="field">
            <%= ff.text_field :country, {placeholder: "*** Country ***", class: "search-field perfect-button-size force-black-text"} %>
          </div><br>
          <div class="field">
            <%= ff.text_field :state, {placeholder: "*** State ***", class: "search-field perfect-button-size force-black-text"} %>
          </div><br>
          <!-- <div class="field">
            <%#= ff.text_field :district, {placeholder: "*** District ***", class: "search-field perfect-button-size force-black-text"} %>
          </div><br> -->
          <div class="field">
            <%= ff.text_field :postal_code, {placeholder: "*** Postal Code ***", class: "search-field perfect-button-size force-black-text"} %>
          </div>
        <% end %> <!-- end of address fields -->
      </div>
    </div>
  </div>
<% end %>

