<h1>List of Trade Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Trade Event</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Street Address</th>
    </tr>
  </thead>

  <tbody>
    <% @trade_events.each do |trade_event| %>
      <tr>
        <td><%= link_to '[Edit]', edit_trade_event_path(trade_event) %></td>
        <td><%= link_to trade_event.event_name, trade_event %></td>
        <td><%= trade_event.start_date %></td>
        <td><%= trade_event.end_date %></td>
        <td><%= trade_event.address.street_address_1 %> <%= trade_event.address.street_address_2 %> <%= trade_event.address.street_address_3 %></td>
        <!-- <td><%#= link_to 'Show', trade_event %></td> -->
        <!-- <td><%#= link_to '[Edit]', edit_trade_event_path(trade_event) %></td> -->
        <!-- <td><%#= link_to 'Destroy', trade_event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Trade Event', new_trade_event_path %>
