<div>
<p>
<strong><h5 class="search-list">SHOW INDEX</h5></strong>
</p>
</div>


<!-- Begin search functionality -->



<h1>SEARCH</h1>
<%= form_tag search_trade_events_path do %>
  Event Name: <%= search_field_tag :event_name %><br>
  Event City: <%= search_field_tag :city %> <br>
  <%= submit_tag "Go!" %>
<% end %>

You searched for:
<%= params[:event_name] %> <%= params[:city] %>
<hr/>
<% if !@trade_events.empty? %>
  Here is your result:
  <ul>
    <% @trade_events.each do |trade_event| %>
      <li><%= link_to trade_event.event_name, trade_event %></li>
    <% end %>
  </ul>
<% else %>
  No trade events found
<% end %>



<!-- End search functionality -->


<section id='wrap'>
  <div  class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead class='tbl-header'>
    <tr><strong>
      <!-- <th colspan="1"></th> -->
      <th>Shows</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>City</th>
      <th>Country</th>

    </strong></tr>
  </thead>
</table>
</div>

<div  class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
<tbody>
    <% @trade_events.each do |trade_event| %>
      <tr>
        <!-- <td><%#= link_to '[Edit]', edit_trade_event_path(trade_event) %></td> -->
        <td><%= link_to trade_event.event_name, trade_event %></td>
        <td><%= trade_event.start_date %></td>
        <td><%= trade_event.end_date %></td>
        <td><%= trade_event.address.city%></td>
        <td><%= trade_event.address.country%></td>
        <!-- <td><%#= link_to 'Show', trade_event %></td> -->
        <!-- <td><%#= link_to '[Edit]', edit_trade_event_path(trade_event) %></td> -->
        <!-- <td><%#= link_to 'Destroy', trade_event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>

<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>




<br>

<%= link_to 'New Trade Event', new_trade_event_path %>
