
  <div>
    <p>
      <strong><h5 class="search-list">
        <%= @trade_event.event_name %> SHOW</h5></strong>
          <strong><h4><%= @trade_event.address.country %></h4></strong>
          <strong><h4><%= @trade_event.start_date%></h4></strong>

    </p>
    <p>
      <strong>Held Between:</strong>
      <%= @trade_event.start_date %> and <%= @trade_event.end_date %>
    </p>
  <!-- </div>
  <div> -->
    <!-- <strong>Event Address:</strong>
    <br><%#= @trade_event.address.street_address_1 %>
    <%# if @trade_event.address.street_address_2 %>
      <br><%#= @trade_event.address.street_address_2 %>
      <%# if @trade_event.address.street_address_3 %>
        <br><%#= @trade_event.address.street_address_3 %>
      <%# end %>
    <%# end %>
    <br><%= @trade_event.address.city %>, <%= @trade_event.address.state %> <%= @trade_event.address.postal_code %> -->

    <%#= @trade_event.address.district %>
  </div>



<section id='wrap'>
  <div  class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class='tbl-header'>
        <tr><strong>
          <!-- <th colspan="1"></th> -->
          <th>Manufacturer Name</th>
          <th>Contact Name</th>
          <th>Contact Email Address</th>
          <th>Contact Phone Number</th>
          <th>Shipping Port</th>
          <th>Street Address</th>
          <th>City</th>
          <!-- <th>State</th> -->
          <!-- <th>Zip</th> -->
          <th>Country</th>
        </strong></tr>
      </thead>
    </table>
  </div>

  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @trade_event.manufacturers.each do |manufacturer| %>
          <tr><strong>
            <!-- <td><%#= link_to 'Edit', edit_manufacturer_path(manufacturer) %></td> -->
            <td><%= link_to manufacturer.company_name, manufacturer, class: "btn-link-table-entry" %></td>
            <td><%= manufacturer.contact_name %></td>
            <td><%= manufacturer.email %></td>
            <td><%= number_to_phone(manufacturer.phone_number, area_code: true) %></td>
            <td><%= manufacturer.shipping_port %></td>
            <td><%= manufacturer.address.street_address_1 %>
              <% if @trade_event.address.street_address_2 %>
                <%= @trade_event.address.street_address_2 %>
                <% if @trade_event.address.street_address_3 %>
                   <%= @trade_event.address.street_address_3 %>
                <% end %>
              <% end %>
            </td>
            <td><%= manufacturer.address.city %></td>
            <!-- <td><%#= manufacturer.address.state %></td> -->
            <!-- <td><%#= manufacturer.address.postal_code %></td> -->
            <td><%= manufacturer.address.country %></td>
          </strong></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<script>
  $(window).on("load resize ", function() {
    var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
    $('.tbl-header').css({'padding-right':scrollWidth});
  }).resize();
</script>

<%= link_to 'New Manufacturer', new_trade_event_manufacturer_path(@trade_event), class: "btn-link-2" %>

<br>



<%= link_to 'Edit', edit_trade_event_path(@trade_event), class: "btn-link-2" %>

<%= link_to 'Back', trade_events_path, class: "btn-link-2" %>
