<h1>PRODUCT INDEX</h1>


<!-- Begin search functionality -->


<h1>SEARCH</h1>
<%= form_tag search_products_path do %>
  Product Name: <%= search_field_tag :name %><br>
  Unit Price: <%= search_field_tag :price %> <br>
  <!-- Category: <%#= search_field_tag :category %> <br> -->
  <%= submit_tag "Go!" %>
<% end %>

You searched for:
<%= params[:name] %> <%= params[:price] %> <%#= params[:category] %>
<hr/>
<% if !@products.empty? %>
  Here is your result:
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product %></li>
    <% end %>
  </ul>
<% else %>
  No products found
<% end %>



<!-- End search functionality -->


<section id='wrap'>
  <div  class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead class='tbl-header'>
    <tr><strong>

      <th>Product Name</th>
      <th>Item Number</th>
      <th>Minimum Order</th>
      <th>Price</th>
      <th class="description-width">Description</th>
      <!-- <th>Pictures</th> -->
      <!-- <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th> -->
    </strong></tr>
  </thead>
</table>
</div>

<div  class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.item_number %></td>
          <td><%= product.min_order_quantity %></td>
          <td>$<%= "%.2f" % Rational(product.price, 100) %></td>
          <td class="description-width"><%= product.description %></td>
          <!-- <td></td> -->
          <!-- <td><%#= link_to 'Show', product %></td> -->
          <!-- <td><%#= link_to 'Edit', edit_product_path(product) %></td> -->
          <!-- <td><%#= link_to 'Edit', edit_manufacturer_product_path(product.manufacturer, product) %></td> -->
          <!-- <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>




<br>

<%= link_to 'New Product', new_product_path %>
<%#= link_to 'New Product', new_manufacturer_product_path(product.manufacturer) %> <!-- Doesn't work -->
