<div>
  <p>
    <strong><h5 class="search-list">Product: <%= @product.name %></h5></strong>
  </p>
</div>
<div class="row-div-display">
  <div>
    <p>
      <strong>Item Number:</strong>
      <%= @product.item_number %>
    </p>
    <p>
      <strong>Minimum Order Quantity:</strong>
      <%= @product.min_order_quantity %> units
    </p>
    <p>
      <strong>Price:</strong>
      <%= number_to_currency((product.price * 0.01), precision: 2) %>
    </p>
  </div>
  <div>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
  </div>
</div>

  <!-- <%# @product.pictures.each do |picture| %>
    <%#= image_tag picture.photo.url %>
  <%# end %> -->


<script>
  $(window).on("load resize ", function() {
    var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
    $('.tbl-header').css({'padding-right':scrollWidth});
  }).resize();
</script>




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
