
   <div class="container form-bottom headert">
     <!-- <div class="row"> -->
            <% if !@product.pictures[0].nil? %>
              <% @product.pictures.each do |pic|%>
                  <%= image_tag pic.photo, class:"img-show"%>
              <% end %>
            <%end%>
          </div>
           <%#= form_tag sessions_path do %>
          <br>
           <div class="container form-bottom">
               <p>
                 <strong>Item Number:</strong>
                 <%= @product.item_number %>
               </p>
               <p>
                 <strong>Minimum Order Quantity:</strong>
                 <%= @product.min_order_quantity %> units
               </p>
               <p>
                 <strong>Price:</strong>
                 <%= number_to_currency((@product.price * 0.01), precision: 2) %>
               </p>

             <div>
               <p>
                 <strong>Description:</strong>
                 <%= @product.description %>
               </p>
             </div>
           </div>
             <br>
             <%= link_to 'Edit', edit_product_path(@product) %> |
             <%= link_to 'Back', products_path %>
             <br>
             <br>
       </div>
     <!-- </div> -->
     <!-- <div class="row"> -->
       <div class="col-sm-6 col-sm-offset-3">
       </div>
     <!-- </div> -->
   </div>


<style>
.headert {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;

}
.img-show{

  margin: 5px 5px;
  height:300px;
  width: 300px;
}

<style>
