<div >
  <div>
    <strong><h1 class="search-list"><%= @manufacturer.company_name %></h1></strong>
    <div class="center-nested-divs">
      <div>
        <% unless @manufacturer.contact_name.nil? && @manufacturer.phone_number.nil? && @manufacturer.email.nil? %>
          <h4><strong>Contact Info:</strong></h4>
          <%= @manufacturer.contact_name %><br>
          <%= number_to_phone(@manufacturer.phone_number, area_code: true) %><br>
          <%= @manufacturer.email %><br>
        <% end %>
      </div>
      <div class="spacing">
      </div>
      <div>
        <h4><strong>Port City:</strong></h4>
        <%= @manufacturer.shipping_port %>
      </div>
      <div class="spacing">
      </div>
      <div>
        <h4><strong>Manufacturer Address:</strong></h4>
        <%= @manufacturer.address.street_address_1 %><br>
        <%= @manufacturer.address.city %>, <%= @manufacturer.address.state %> <%= @manufacturer.address.postal_code %><br>
        <%= @manufacturer.address.country %>
        <%#= @manufacturer.address.district %>
      </div>
    </div>
  </div>
</div>
<br>
<section id='wrap'>
  <div  class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class='tbl-header'>
        <tr><strong>
          <!-- <th colspan="1"></th> -->
          <th>Product Name</th>
          <th>Item Number</th>
          <th>Minimum Order</th>
          <th>Price</th>
          <th class="description-width">Description</th>
        </strong></tr>
      </thead>
    </table>
  </div>

  <div  class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <% @manufacturer.products.each do |product| %>
        <tr><strong>
          <!-- <td><%#= link_to 'Edit', edit_product_path(product) %></td> -->
          <td><%= link_to product.name, product, class: "btn-link-table-entry" %></td>
          <td><%= product.item_number %></td>
          <td><%= product.min_order_quantity %></td>
          <td><%= number_to_currency((product.price * 0.01), precision: 2) %></td>
          <td class="description-width"><%= product.description %></td>
        </strong></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>

<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>



<br>


<%= link_to 'Edit', edit_manufacturer_path(@manufacturer), class: "btn-link-2" %> 
<%= link_to 'New Product', new_manufacturer_product_path(@manufacturer), class: "btn-link-2" %> 
<%= link_to 'Back', manufacturers_path, class: "btn-link-2" %>
